
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/tintuc.cshtml";
}

<script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fvnexpress.net%2Frss%2Fkinh-doanh.rss&chan=y&num=5&date=y&targ=y&utf=y&html=a" charset="UTF-8" type="text/javascript"></script>

<noscript>
    <a href="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fvnexpress.net%2Frss%2Fkinh-doanh.rss&chan=y&num=5&date=y&targ=y&utf=y&html=y">View RSS feed</a>
</noscript>


