
@model IEnumerable<Web.Models.AnhBia>


@{

    var dem = 0;
    foreach (var item in Model)
    {
        if (dem == 0)
        {
            <div class="item active">
                <div class="col-sm-6">
                    <h1><span>S</span>-STORE</h1>
                    <h2>@item.Tenanh</h2>
                    <p>@item.Noidung</p>
                    <button type="button" class="btn btn-default get">Mua ngay</button>
                </div>
                <div class="col-sm-6">
                    <img src="~/Images/Ảnh bìa/@item.Banner" class="girl img-responsive" alt="" />                   
                </div>
            </div>
        }
        else
        {
            <div class="item">
                <div class="col-sm-6">
                    <h1><span>S</span>-STORE</h1>
                    <h2>@item.Tenanh</h2>
                    <p>@item.Noidung </p>
                    <button type="button" class="btn btn-default get">Mua ngay</button>
                </div>
                <div class="col-sm-6">
                    <img src="~/Images/Ảnh bìa/@item.Banner" class="girl img-responsive" alt="" />                    
                </div>
            </div>
        }
        dem++;

    }

}

