@model IEnumerable<Web.Models.DOTHETHAO>


@foreach (var item in Model)
{
    if (@item.Loai == 3)
    {   <div class="tab-pane fade" id="aokhoac">
        <div class="col-sm-3">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="~/Images/hinhsanpham/AoKhoac/@item.Anhbia" alt="" />
                        <h2>@item.Giaban</h2>
                        <p>@item.Tendothethao</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Cart</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    }
}
